@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Open+Sans+Condensed:wght@300&display=swap');
* {
   
    box-sizing: border-box;
}

body {
font-family: "Open Sans Condensed", sans-serif;
}

.slideshow-container {
    max-width: 80%;
    margin: auto;
    position: relative;
}

.slideshowImgs {
    display: none;
}

img {
    vertical-align: center;
}


/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {

}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {

}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {

}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {

}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {

}
