* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserret";
  background-color: black;
  background-image: linear-gradient(rgb(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}
section {
  height: 100vh;
  width: 100%;
  ;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 20px #00000010;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px;
  
}
.form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}
.form-group input,
.form-group textarea {
  padding: 5px;
  width: 100%;
  font-size: 18px;
  border: 1px solid rgba(128, 128, 128, 0.199);
  margin-top: 5px;
}
h3 {
  text-align: center;
  font-size: 25px;
}

button[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  font-family: "montserret";
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease background-color;
  background-color:  rgb(167, 40, 40);
  color: white;
}
button[type="submit"]:hover {
  background-color: rgb(184, 96, 96);
  color: #fff;
}

textarea {
  resize: vertical;
}
#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}
#status.success {
  background-color: rgb(211, 250, 153);
  animation: status 4s ease forwards;
}
#status.error {
  background-color: rgb(250, 129, 92);
  color: white;
  animation: status 4s ease forwards;
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

header {
  padding: 80px 35px;
}

header a {
    text-decoration: none;
    color: whitesmoke;
   
}

header h1 {
    font-size: 50px;
    margin: 0;
    display: inline;
  
}



h1, a {
  color: white;
  font-weight: bold;
}

.search-form, section {
  height: 100vh;
  
  background-size: cover;
  display: flex;
  background-position: center;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  
  
}

.bg-img {
  background-image: url("../images/3.jpg");
  opacity: 0.6;
  height: 100vh;
  width: 100%;
  margin: 2px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;

}

h2 {
  padding: 7px;
  color: white;
  font-weight: bolder;
  
  margin-bottom: 10px;
  font-size: 40px;
  letter-spacing: 2px;
  margin-top: 350px;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  text-align: center;

}



.search-field {
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    outline: none;
   
}


.restaurant {
    width: 600px;
}

.city {
    width: 100px;
}

.search-btn {
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background-color: rgb(167, 40, 40);
    color: #fff;
    transition: .3s ease background-color;
}

.search-btn:hover {
  background-color: rgb(184, 96, 96);
  color: #fff;
    
}

.search-form {
  display: inline-block;
}

.star {
  color: red;
}

.optional {
  color: #707070;
  font-size: 14px;
}

/* Styling for the drop down menu */

.dropdown{
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #002626;
    overflow-y: hidden;
    transition: .5s;
}

.dropdown-lists{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.dropdown a{
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color: grey;
    display: block;
    transition: .3s;
}

.dropdown a:hover, .dropdown a:focus {
    color: whitesmoke;
    cursor: pointer;
}

.dropdown .buttonX{
  top: 20px;
  right: 50px;
  font-size: 60px;
  color: grey;
}

/* Styling for Hamburger Button on drop down  */

.hamburgerBtn{
    color: #0e4749;
    left: 10px;
    top: 20px;
    font-size: 50px;
    cursor: pointer;
}

/* add media query to contact form */

@media(max-width:500px){
  #contact-form{
    padding: 25px 30px;
  }
}

/* add media query to img section */

@media(max-width:500px){
    .bg-img{ 
    padding: 25px 30px;
    text-align: center;
    justify-content: center;
    display: inline-block;
    align-items: center;
  }
}

@media screen and (max-height:600px) {
    .dropdown .buttonX {
        font-size: 40px;

    }
    .hamburgerBtn{
        font-size: 40px;
    }
}