
  :root {
    --primary-color: #fc38f2;
    --secondary-color: #020476;
    --tertiary-color: #3db239;
  }

body {
    
    color: black;
    font-family: Helvetica, Arial, sans-serif;
      }
     
      header {
          padding: 25px 35px;
          background-color: #070b0c;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          position: -webkit-sticky;
          position: sticky;
          top: 0;
          background-image: url('../');           
          background-size: cover;
          background-position: center;
          background-attachment: fixed;
          background-position: 80%;
          z-index: 9999;
     }
     header h1 {
         font-weight: bold;
         font-size: 36px;
         color: var(--primary-color);
         margin:0;
         text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
        header a {
            text-decoration: none;
            color: var(--primary-color)
       }
        header nav {
            margin: 7px 0;        
        }
        header nav ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            list-style: none;
        }

        header nav ul li a {
            padding: 10px 15px;
            font-weight: lighter;
            font-size: 1.55vw;
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
        header nav ul li a:hover {
          background: var(--primary-color);
          color: var(--secondary-color);
          border-radius: 15px;
          text-shadow: none;
        }
        
      
        footer {
            background: var(--primary-color);
            width: 100%;
            padding: 40px 35px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        footer h2 {
            color: var(--secondary-color);
            font-size: 30px;
            margin: 0;
        }
        footer div {
            line-height: 1.5;
            text-align: right;
        }
        footer a {
            color: var(--secondary-color);
        }
        section {
            padding: 60px; 
        }
     
        
        
    


          /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
          @media screen and (max-width: 980px) {
            header {
                padding-bottom: 0;
                justify-content: center;
                position: relative;
            }
            
              header h1 {
                width: 100%;
                text-align: center;
              }
            
              header nav ul {
                margin-top: 20px;
                width: 100%;
                justify-content: center;
              }
            
              header nav ul li a {
                font-size: 20px;
              }
            
              footer h2, footer div {
                text-align: center;
                width: 100%;
              }   
              .hero-cta, .hero-form {
                width: 100%;
              }
              
              .hero-cta {
                text-align: center;
              }    
              .section-title {
                width: 80%;
              }
              
              .trainer {
                flex: 0 70%;
              }
              
              .contact-info iframe{
                flex: 1 100%;
              }
            
          }

          /* MEDIA QUERY FOR TABLETS AND SMALLER */
          @media screen and (max-width: 768px) {
            section {
                padding: 30px 15px;
              }
              .step h3 {
                flex: 1 100%;
                text-align: center;
              }
            
              .step-info {
                flex: 2 100%;
                text-align: center;
                justify-content: center;
              }
            
              .step-img {
                flex: 0 32%;
                margin-right: 0;
                margin-top: 15px;
                margin-bottom: 15px;
              }
            
              .step-text {
                flex: 100%;  
              }
                       
          }

          /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
          @media screen and (max-width: 575px) {
            .hero-form button {
                width: 100%;
              }
            
              .section-title {
                width: 95%;
              }
            
              .intro p {
                width: 100%;
              }
            
              .trainer {
                flex: 0 100%;
              }
            
              .contact-info {
                text-align: center;
              }
            
              .contact-info > * {
                flex: 0 100%;
              }
              .contact-form {
                order: 3;
              }    

            }
            

         
   